[submodule "sentient-light-hub-common"]
	path = sentient-light-hub-common
	url = git@github.com:interoberlin/sentient-light-hub-common.git
[submodule "floor"]
	path = floor
	url = git@gitlab.intero.berlin:sentient-light/sentient-light-hub/sentient-light-hub-floor-sensor.git
[submodule "sentient-light-hub-led-actor"]
	path = sentient-light-hub-led-actor
	url = git@github.com:interoberlin/sentient-light-hub-led-actor.git
[submodule "sentient-light-hub-mapping-engine"]
	path = sentient-light-hub-mapping-engine
	url = git@github.com:interoberlin/sentient-light-hub-mapping-engine.git
[submodule "sentient-light-hub-floor-sensor"]
	path = sentient-light-hub-floor-sensor
	url = git@github.com:interoberlin/sentient-light-hub-floor-sensor.git
