[submodule "sentient-light-hub-common"]
	path = sentient-light-hub-common
	url = git@github.com:interoberlin/sentient-light-hub-common.git
[submodule "sentient-light-hub-led-actor-ble"]
	path = sentient-light-hub-led-actor-ble
	url = git@github.com:interoberlin/sentient-light-hub-led-actor-ble.git
[submodule "sentient-light-hub-mapping-engine"]
	path = sentient-light-hub-mapping-engine
	url = git@github.com:interoberlin/sentient-light-hub-mapping-engine.git
[submodule "sentient-light-hub-floor-sensor-ble"]
	path = sentient-light-hub-floor-sensor-ble
	url = git@github.com:interoberlin/sentient-light-hub-floor-sensor-ble.git
[submodule "sentient-light-hub-led-actor-serial"]
	path = sentient-light-hub-led-actor-serial
	url = git@github.com:interoberlin/sentient-light-hub-led-actor-serial.git
[submodule "sentient-light-hub-message-processor"]
	path = sentient-light-hub-message-processor
	url = git@github.com:interoberlin/sentient-light-hub-message-processor.git
[submodule "sentient-light-hub-message-processor-tree"]
	path = sentient-light-hub-message-processor-tree
	url = git@github.com:interoberlin/sentient-light-hub-message-processor-tree.git
[submodule "sentient-light-hub-wobble"]
	path = sentient-light-hub-wobble
	url = ./sentient-light-hub-wobble/
